* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dark{
  --bg-general: #d6d6d6;
  --bg-components: #fff;
  --texts: #000000;
  --effects: #000;
}

.light{
  --bg-general: #fff;
  --texts: #000;
  --effects: #f0f8ff;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-general);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--texts);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0);
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  margin-top: 3rem;
  align-items: center;
}

header div{
  font-size: 1.1rem;
}

header i{
  margin-right: 10px;
}

h1{
  padding: 20px 0;
  width: 84%;
  text-align: start;
}

main{
  margin-bottom: 3rem;
}

main, .links{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.links{
  width: 100%;
}

main .links a, .imc{
  background-color: var(--bg-components);
  padding: 2rem;
  margin: 2.25rem 0 0 0;
  font-weight: bold;
  font-size: 1.25rem;
  width: 80%;
  border-radius: 10px;  
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

#list{
  margin-bottom: 4rem;
}

#exercise{
  display: flex;
  background-color: var(--bg-components);
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 0.75rem;
  width: 80vw;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#exercise a{
  width: 90%;
}

#exercise #mark{
  border-radius: 10px 0 0 10px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#exercise input{
  appearance: none;
  border: 1px solid var(--texts);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#exercise input:checked{
  background-color: #00ff73;
}

.box{
  width: 100%;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  color: var(--texts);
}

.box h3{
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.infos{
  display: flex;
  justify-content: space-around;
  color: var(--texts);
  font-weight: bold;
}

.infos strong{
  color: #5599ff;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--texts);
  font-size: 1.2rem;
  cursor: pointer;
}

footer{
  padding: 0.35rem 3rem 0 3rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  font-size: 1.35rem;
  text-align: center;
  bottom: 0;
  background-color: var(--bg-components);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a{
  margin: 0 0.5rem;
}

footer a div{
  font-size: 0.85rem;
}

footer .plus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  bottom: 2rem;
  background-color: var(--texts);
  color: var(--bg-components);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.65);
}